<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Create Car</h1>
<p>
    <a th:href="@{/car/list}">Car list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/car/create}" th:object="${carDto}" method="post"
      enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Model: </td>
            <td><input type="text" th:field="*{model}"></td>
        </tr>
        <tr>
            <td>Year: </td>
            <td><input type="text" th:field="*{year}"></td>
        </tr>
        <tr>
            <td>Image: </td>
            <td><input type="file" th:field="*{img}"></td>
        </tr>
        <tr>
            <td>Owner: </td>
            <td>
                <select th:field="*{owner}">
                    <option th:each="o : ${ownerDtos}" th:value="${o.id}"
                        th:text="${o.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${catDtos}" th:value="${c.id}"
                            th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create car"></td>
        </tr>
    </table>
</form>
</body>
</html>
